<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">中小企業グローバル展開支援</h2>
                <hr class="light">
                <p class="text-faded text-left">
                    海外市場進出を実現するための総合支援を提供します。<br>
                    <br>
                    マーケティングリサーチから経営戦略、ITソリューションの開発まで、一貫したサービスで中小企業のグローバルな成功を後押し。<br>
                    <br>
                    さらに、外国人の方々へ日本文化の理解を深めるための教育ツールも開発。あなたのビジネスが世界へ羽ばたくためのパートナーとして、ここにあります。
                </p>
            </div>
        </div>
    </div>
</section>
