<section id="footer" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <p>
                <div id="company">
                    <i class="fa fa-building"></i>
                    <small>
                        {{ site.company }}
                    </small>
                </div>
                <div id="address">
                    <i class="fa fa-location-dot"></i>
                    <small>
                        {{ site.address }}
                    </small>
                </div>
                <div id="email">
                    <i class="fa fa-envelope-o"></i>
                    <small>
                        {{ site.email }}
                    </small>
                </div>
                </p>
            </div>
        </div>
    </div>
</section>