<section class="no-padding-bottom bg-primary" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-8 col-lg-offset-2 text-center container">
                <h2 class="section-heading">Portfolio</h2>
                <hr class="light">
                <p class="text-faded text-left">
                    地元中小企業が外国人の注目を集め、文化の架け橋を築くための効果的な支援を行い、その成果を紹介しています。
                </p>
                <hr>
                <hr>
                <hr>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://celeste-ortho.com/" class="portfolio-box" style="cursor: pointer" target="_blank">
                    <img src="img/portfolio/1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Marketing
                            </div>
                            <div class="project-name">
                                チェレステ矯正歯科茗荷谷
                            </div>
                            <div class="project-content">
                                多言語対応とSEOの最適化を施したクリニックのウェブサイトを提供し、日本国内での外国人患者獲得を成功させました。
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Marketing
                            </div>
                            <div class="project-name">
                                Upcoming Project
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Japanese & Culture
                            </div>
                            <div class="project-name">
                                Upcoming Project
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Japanese & Culture
                            </div>
                            <div class="project-name">
                                Upcoming Project
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tech Development
                            </div>
                            <div class="project-name">
                                Upcoming Project
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tech Development
                            </div>
                            <div class="project-name">
                                Upcoming Project
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
